.card{
    width: 258px;
    height: 465px;

    background-color: white;

    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;

    display: flex;
    flex-direction: column;

}
.card__wrapper{
    width: 247px;
    height: 333px;

    overflow: hidden;
}
.wrapper__img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}
.card__content{
    width: 258px;
    height: 122px;

    display: flex;
    flex-direction: row;
}
.content__text{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
}
.text__price{
    min-width: 100px;
    height: 24px;


    margin-top: 30px;
    padding-left: 10px;
}
.price__strong{
    color: rgba(16, 196, 76, 1);
    font-size: 24px;
    font-weight: 400;
    font-style: Regular;
}
.text__name{
    color: black;
    font-size: 22px;
    font-weight: 400;
    font-style: Regular;

    padding-left: 10px;

    margin-top: 6px;

     white-space: nowrap;   
    overflow: hidden;       
    text-overflow: ellipsis;
}
.content__buttons{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
}