.button {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  border: none;
  cursor: pointer;

  background-color: blue;
  color: white;
  transition: background-color 0.2s;
}

.button.blue {
  background-color: rgba(0, 91, 255, 1);
}

.button.blue:hover {
  background-color: rgba(0, 70, 200, 1);
}

.button.pink {
  background-color: rgba(241, 17, 126, 1);
}

.button.pink:hover {
  background-color: rgba(200, 10, 100, 1);
}
.button.red {
  background-color: rgba(255, 0, 0, 1);
}
.button.red:hover {
  background-color: rgba(200, 0, 0, 1); 
}