:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #F5F5FA;

  display: flex;
  flex-direction: column;
  align-items: center;
  
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}