.Page{
    width: 1416px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Page__mappedList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    background-color: white;
    border-radius: 24px;

    width: 1416px;
    min-height: 690px;

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}