.footer{
    width: 1416px;
    height: 120px;

    background-color: white;

    border-radius: 20px 20px 0 0;

    display: flex;
    flex-direction: row;

    align-items: end;
    justify-content: center;

    margin-top: auto;
}
.footer__Line{
    width: 100%;
    height: 2px;

    background-color: rgba(0, 91, 255, 1);
}